<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>

    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="recovery-card">
    <div class="logo-container">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="assets/imgs/attendance-Logo.png" />
      </ion-avatar>
    </div>
    <ion-card-header>
      <ion-card-title>¿Olvidaste tu contraseña?</ion-card-title>
      <ion-card-subtitle>No te preocupes, es posible recuperarla</ion-card-subtitle>
    </ion-card-header>

    <ion-item class="input-item">
      <ion-input
        class="email-input"
        type="email"
        placeholder="Ingresa tu correo"
      ></ion-input>
      
    </ion-item>

    
    <button class="flat" mat-flat-button routerLink="/home">Enviar</button>
  </ion-card>
</ion-content>









