.recovery-card {
    max-width: 400px;
    margin: auto;
    margin-top: 40%;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .input-item {
    --background: transparent; // Elimina el fondo del ion-item para que el fondo blanco se vea mejor
    margin-bottom: 16px;
  }
  
  .email-input {
    --background: rgb(255, 255, 255); // Fondo blanco para el input
    --padding-start: 10px; // Añade padding al inicio del input para que el texto no quede pegado al borde
    
    border-radius: 10px; // Bordes redondeados
    height: 20px; // Ajusta la altura del input
    color: black;
  }
    
  .recovery-button {
    width: auto;
    margin: 0 auto;
    display: block;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .logo-container img {
    max-width: 150px;
    height: auto;
    padding: 10px;
  }

  ion-avatar{
    width: 100px;
    height: 100px;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .stroked{
    width: 100%;
    background-color: white;
  
  }
  .flat{
    width: 100%;
  
  }

  .example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  