
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button id="volver" (click)="volver()">Volver</ion-back-button>
      </ion-buttons>        
        <ion-title>{{titulo}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <mat-slide-toggle>Toggle me!</mat-slide-toggle>


 

