ion-accordion{
    margin-top: 10px;
    border-radius: 10px;

}

p{
    margin-top: 5px;
}


ion-accordion-group{
    border-radius: 10px;
    padding: 5px;
}

#nombreRamo{
    font-size: large;
}

#sigla{
    font-size: medium;
}

#asistencia{
    font-size: small;
}

.menu-list{
    border-radius: 10px;
}

