
    <ion-menu menuId="historialMenu" side="end" contentId="historial-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="menu-list">
          <ion-item (click)="closeMenu()" routerLink="/inicio">
            <ion-label>Inicio</ion-label>
          </ion-item>
          <mat-divider></mat-divider>
          <ion-item (click)="closeMenu()" routerLink="/attendance">
            <ion-label>Registrar Asistencia</ion-label>
          </ion-item>
          <mat-divider></mat-divider>
          <ion-item (click)="closeMenu()" routerLink="/perfil">
            <ion-label>Perfil</ion-label>
          </ion-item>
          <mat-divider></mat-divider>
          </ion-list>
  </ion-content>
    </ion-menu>
    <div class="ion-page" id="historial-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
          <ion-title>Historial</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button menu="historialMenu"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="true">
  
        <ion-card>
          @for (ramo of ramos; track $index) {
          <ion-accordion-group>
            <ion-accordion value="first" >
                <ion-item slot="header" color="blue">
                  <ion-label id="nombreRamo">{{ramo.nombre}}<ion-label id="sigla">{{ramo.sigla}}</ion-label> <ion-label id="asistencia">{{(ramo.clasesAsistidas/ramo.totClases)*100}}%({{ramo.clasesAsistidas}} de {{ramo.totClases}} clases)</ion-label>  </ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-grid>
                    <ion-row>
                      <ion-col>Fecha <br>
                        @for (asistencia of ramo.asistencias; track $index) { 
                          <ion-label>{{asistencia}} <br> </ion-label>
                        } 
                      </ion-col>
                      <ion-col>Asistencia <br>
                        
                          @for (estado of ramo.estados; track $index) { 
                            <ion-label>{{estado}} <br> </ion-label>
                          } 
                        </ion-col>    
                    </ion-row>
                     
              </ion-grid>
              </div>  
              </ion-accordion>   
            </ion-accordion-group>
          }
        </ion-card>
        
      </ion-content>
    </div>
  



